/* src/index.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;600&display=swap');

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
  
  /* Nueva Paleta Verde Oliva */
  --color-boda-oliva: #D4D9BA;      /* Fondo principal (Oliva suave) */
  --color-boda-oliva-oscuro: #606C38; /* Para textos o acentos fuertes */
  --color-boda-terracota: #B07D62;   
  --color-boda-verde: #828E73;      
  --color-boda-crema: #F2F2E9;      /* Un crema con tinte verdoso para tarjetas */
  --color-boda-texto: #42492F;      /* Texto en un tono oliva muy oscuro */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slowZoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.animate-fade-in-up {
  animation: fadeInUp 1.5s ease-out forwards;
}

.animate-slow-zoom {
  animation: slowZoom 10s linear infinite alternate;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}